/********************
****** GENERAL ******
********************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: "Inter", sans-serif;
    color: white;
    background-color: rgb(23, 23, 23);
    margin-top: 140px;
}

/*******************
****** HEADER ******
********************/


header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(23, 23, 23);
    margin-bottom: 100px;
    width: 100%;
    height: 98px;
    top:0;
    right:0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

header li {
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
    transition-duration: 0.2s;
}

header li:hover{
    background-color:red;
}

header a {
    display: inline-block; /*pour étendre la zone de clique*/
    padding: 20px;
    text-decoration: none;
    font-family: 'Inter', serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#accueil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    padding-left: 35px;

}

#accueil img {
    margin: 0px;
    width: 160px;
}

#header_admin{
    font-size: 15px;
    color: rgb(208, 255, 0);
}

/********************
*** LOGIN FORM ******
********************/
.login-form {
    color: #613333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px;
    margin: 50px auto; /* Centrer le formulaire */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h1 {
    margin-bottom: 20px;
    color: #613333;
    font-size: 28px;
}

.login-form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    align-self: flex-start;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.login-form input:focus {
    border-color: #007BFF;
    outline: none;
}

.login-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
    background-color: #0056b3;
}
