
section{
    height: fit-content;
}
h1{
    margin-left: 5vw;
    font-size: 3em;
    word-spacing: 25px;
}
/*********************
******  EVENTS  ******
**********************/

.event-subscribed{
    background-color: rgb(38, 100, 49);
}
.event-not-subscribed{
    background-color: #c3161675;
}
.event-full{
    background-color: #5D5757;
}

.events-display{
    width: fit-content;
    height: calc(100vh - 125px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: flex-end;
    align-self: center;

    margin: auto;

}

.event{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40vw;
    min-width: 500px;
    max-width: 780px;
    
    min-height: 130px;
    max-height: 170px;

    border-radius: 40px;

    padding: 2vw 1vw 2vw 1vw;

    background-color: #000000;   

    font-size: 1.2em;
    overflow: hidden;

    cursor: pointer;
    position: relative;
}

.event:hover{
    background-color: #333333; 
    transform: scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease-in-out;
}

.event > div{
    width: 240px;
    overflow: hidden;
}
.event > *{
    margin-left: 1vw;
    margin-right: 1vw;
}

.event > div h2{
    margin-bottom: 10px;
}


.event h4{
    width: 125px;
    border-radius: 20px;

    align-self: center;
    text-align: center;

    padding: 10px; /* 15? */

}

.event-box{
    display: flex;
    align-items: center;
    position: relative;
}

.passed{
    opacity: 60%;
}

/*********************
*****  TIME BAR  *****
**********************/

.timeline-event {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.timeline-event p {
    font-size: 1em;
    text-align: left    ;
    margin: auto 25px; 
    width: 75px;
}

.timeline-event h4 {
    font-size: 1.2em;
    text-align: right;
    padding-right: 10px;
}

.timeline-marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    position: relative;
}

.timeline-marker.passed {
    background-color: rgb(155, 140, 140); /* Marqueur d'événements passés */
}

.timeline-marker.today {
    background-color: rgb(0, 255, 0); /* Marqueur pour aujourd'hui */
}

.timeline-marker.upcoming {
    background-color: rgba(255, 0, 0, 0.8); /* Marqueur pour les événements à venir */
}

.vertical-line {
    width: 2px; /* Largeur de la ligne */
    height: 100px; /* Hauteur de la ligne */
    background-color: #ff0000; /* Couleur de la ligne */
    margin: 0 auto; /* Centre la ligne */
    left: 10px;
}

